*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    height: 100vh;
    width: 100%;
}
header{
    height: 8%;
    color: #fff;
}

h1{
    text-align: center;
    font-size: 40px;
}
.encabezado{
    height: 25%;
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuNavegacion{
    height: 75%;
    background-color: #F0A83E;
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
}

.listas{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}

.listas li{
    display: inline-block;
    margin: 0px 10px;
}

.listas li a{
    text-decoration: none;
    color: #fff;
    margin-left: 5px;
    
}

/* Contenido Principal */

main{
    height: 80%;
}

.imgFondo{
    background-image: url('/img/fondo.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 50%;
    display: flex;
    align-items:center;
    justify-content:right;
}

.contenidoImg{
    background-color: #fff;
    width: 100%;
    display: flex;
}

/* Section Productos */
.sectionProductos{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.sectionPatita{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.sectionPatita .listas li{
    display: inline-block;
    margin: 5px 10px;
    color: #666666;
    font-size: 20px
}

/* Productos */

.productos{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    border-radius: 5px;
    height: 50%;
}
.producto{
    width: 25%;
    height: 70%;
    background: #FBFAF6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.producto img{
    width: 70%;
    height: 50%;
}

.precio{
    margin-top: 0px;
    color: #F0A83E;
}

/* Section Contacto */
.contacto{
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.contacto h2{
    color: #3C2313;
    font-size: 30px;
}

.contacto .label{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.label p{
    background-color: #3C2313;
    border-radius: 15px;
    padding: 10px;
    margin: 10px 0px;
    font-size: 15px;
    color: #fff;
    width: 80%;
}

.botones{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn{
    border-radius: 15px;
    text-align: center;
    padding: 10px 30px;
    font-size: 20px;
    color: white;
}

#reset{
    background: #8A8787;
}

#send{
    background: #F0A83E;
}


/* 
.sectionImg{
    text-align:center;
    background-image: url(https://s3-alpha-sig.figma.com/img/53ec/2946/b101b9298925dcc2ae1d629537e66036?Expires=1626652800&Signature=O5iSmY02HYU9SObYXZtGIUjvqlDS6NLyKl0q3xsUDvZilhNpFX-9~2BGj1HLLpPBhBBFevPuzIxCYsmylMVspcW34X8SVsr-NwDOY0k1jRHXUF1ACOz16YG83TNvuIpnZaDqIBGlbMzDEqzJmSwfQi6tQ~0aqCR8E4BdnXFa5isAit6gYuXa3okvzZvBHDIJVP~DZxkRJ-OOD8hyxP2A0xJJig4nDpOondNInBub1XKoARqyUiXSXZcybVbOe4Y9h3PeXpk8JX4nXZQkDi3QtROgT1WxDogBx0dI0R7lVy~wdRfkcGfDTewiNhIZCUTMcmCx643z5aXWFfD~vjCAsA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
    background-size: cover;
    height: 600px;
    width: 100%;
} */

.descuento{
    text-align: center;
    width: 141px;
    background: #F0A83E;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
}

.listaProductos li {
    display: inline-block;
}

.info{
    background-color: #3C2313;
}

.info h3{
    color: white;
}

.info p, .info i{
    color: gray;
}

footer{
    background-color: #F0A83E;
    color: #fff;
    font-size: 16px;
    text-align: center;
}